.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
 


  .form-control:focus {
    outline: none !important;
    box-shadow: none !important;
  }

  body {
    font-family: Arial, sans-serif; /* Example font family */
  }