<div class="d-flex">
    <app-side-bsr></app-side-bsr>

    <div class="p-4 justify-content-center">
        <div class="content flex-grow-1">
            <!-- Your dashboard content here -->
            <div class="content flex-grow-1">


                <div class="container mt-4">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Dashboard</h2>
                            <p>This is the main content area of your admin dashboard.</p>
                            <div class="bg-light border-1 p-2 rounded-5 col-md-6 d-flex align-items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#FFA500"
                                    class="bi bi-info-circle-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
                                </svg>
                                <p class="ps-3 mb-0">You Have 32 Support Request Pending for Response
                                    <a href="#">View</a>
                                </p>
                            </div>



                            <div class="container mt-4">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="card bg-primary">
                                            <div class="card-body">
                                                <p class="card-text text-white">Savings Account</p>
                                                <h3 class="card-title text-white">1500</h3>
                                                <div class="d-flex justify-content-center align-items-center">
                                                    <a href="#" class="btn btn-light rounded-5">2.36% <span
                                                            class="material-symbols-outlined">arrow_upward</span></a>
                                                    <p class="mb-0 ml-2 ps-3 text-white">Since last month</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="card2 card">
                                            <div class="card-body">
                                                <p class="card-text text-white">Savings Account</p>
                                                <h3 class="card-title text-white">1500</h3>
                                                <div class="d-flex justify-content-center align-items-center">
                                                    <a href="#" class="btn btn-light rounded-5">2.36% <span
                                                            class="material-symbols-outlined">arrow_upward</span></a>
                                                    <p class="mb-0 ml-2 ps-3 text-white">Since last month</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="card bg-primary">
                                            <div class="card-body">
                                                <p class="card-text text-white">Savings Account</p>
                                                <h3 class="card-title text-white">1500</h3>
                                                <div class="d-flex justify-content-center align-items-center">
                                                    <a href="#" class="btn btn-light rounded-5">2.36% <span
                                                            class="material-symbols-outlined">arrow_upward</span></a>
                                                    <p class="mb-0 ml-2 ps-3 text-white">Since last month</p>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="card2 card">
                                            <div class="card-body">
                                                <p class="card-text text-white">Savings Account</p>
                                                <h3 class="card-title text-white">1500</h3>
                                                <div class="d-flex justify-content-center align-items-center">
                                                    <a href="#" class="btn btn-light rounded-5">2.36% <span
                                                            class="material-symbols-outlined">arrow_upward</span></a>
                                                    <p class="mb-0 ml-2 ps-3 text-white">Since last month</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div class="pt-5">
                                <h5>Recently Active Users</h5>
                                <table class="table table-hover">
                                    <thead class="thead-muted">
                                        <tr class="table-secondary">
                                            <th scope="col">USER ID/NAEM</th>
                                            <th scope="col">PHONE NUMBER</th>
                                            <th scope="col">TRANSACTION CATOGARY</th>
                                            <th scope="col">TRANSACTION AMOUNT</th>
                                            <th scope="col">ACCOUNT TYPE</th>
                                            <th scope="col">BALANCE AMOUNT</th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody class="align-items-center">
                                        <tr>
                                            <td>Monica james
                                                <p>ID: 3456789</p>
                                            </td>
                                            <td>+91 9876543210</td>
                                            <td>Income
                                                <p>Salery</p>
                                            </td>
                                            <td>$200 </td>
                                            <td>Saving</td>
                                            <td>s600</td>
                                            <td><a class="text-primary">View</a></td>
                                        </tr>
                                        <tr>
                                            <td>Samantha
                                                <p>ID: 3456789</p>
                                            </td>
                                            <td>+91 9876543210</td>
                                            <td>Income
                                                <p>Salery</p>
                                            </td>
                                            <td>$200 </td>
                                            <td>Saving</td>
                                            <td>s600</td>
                                            <td><a class="text-primary">View</a></td>

                                        </tr>
                                        <tr>
                                            <td>Catherine
                                                <p>ID: 3456789</p>
                                            </td>
                                            <td>+91 9876543210</td>
                                            <td>Income
                                                <p>salery</p>
                                            </td>
                                            <td>$200 </td>
                                            <td>Saving</td>
                                            <td>s600</td>
                                            <td><a class="text-primary">View</a></td>

                                        </tr>
                                        <tr>
                                            <td>Monica james
                                                <p>ID: 3456789</p>
                                            </td>
                                            <td>+91 9876543210</td>
                                            <td>Income
                                                <p>salery</p>
                                            </td>
                                            <td>$200 </td>
                                            <td>Saving</td>
                                            <td>s600</td>
                                            <td><a class="text-primary">View</a></td>

                                        </tr>
                                        <tr>
                                            <td>Ileana Sam
                                                <p>ID: 3456789</p>
                                            </td>
                                            <td>+91 9876543210</td>
                                            <td>Income
                                                <p>salery</p>
                                            </td>
                                            <td>$200 </td>
                                            <td>Saving</td>
                                            <td>s600</td>
                                            <td><a class="text-primary">View</a></td>

                                        </tr>

                                    </tbody>
                                </table>

                                <div class="d-flex justify-content-center">
                                    <button class="btn btn-secondary rounded-5">View All</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- ... -->
        </div>
    </div>
</div>
















